.desktop_activities-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: clamp(var(--margin-xlarge), var(--margin-xlarge), 60px);
    padding: 0 3rem 2.5rem 3rem;
    list-style-type: circle;
    opacity: 0;
    filter: blur(5px);
}

.desktop_activities-section-title,
.desktop_activities-section-subtitle {
    font-family: "stratum-1-web";
}

.desktop_activities-section-title {
    font-size: var(--56px);
}

.desktop_activities-section-subtitle {
    font-size: var(--28px);
}

.desktop_activities-section-list {
    font-size: var(--18px);
    list-style-type: none;
    margin: var(--margin-large) 0;
    position: relative;
}

.desktop_activities-section-list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1rem;
    height: calc(100% - var(--margin-small));
    width: 2px;
    background-color: rgba(255, 255, 255, 0.2);
}

.desktop_activities-section-list strong {
    color: var(--color-accent);
    text-shadow: var(--color-accent, 0.1) 0 0 2px;
}

.desktop_activities-section-list
    .desktop_activities-section-listitem:last-child {
    margin-bottom: var(--margin-small);
}

.desktop_activities-section-listitem {
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    padding: var(--padding-small);
    margin: 0 0 var(--margin-small) var(--margin-small);
    position: relative;
    width: fit-content;
}

.desktop_activities-section-listitem::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc((-1 * var(--padding-small)) - var(--margin-small));
    height: 1px;
    width: 2rem;
    background-color: var(--color-accent);
}

.desktop_activities-section-listitem::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc((-1 * var(--padding-small)) - var(--margin-small) - 0.5rem);
    translate: -50% -50%;
    background-color: black;
    border: 2px solid var(--color-accent);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
}

.desktop_activities-section-listitem,
.desktop_activities-section-listitem::before,
.desktop_activities-section-listitem::after {
    box-shadow: 0 0 8px 2px rgba(227, 138, 132, 0.25);
}

.desktop_activities-section-listitem-date {
    font-weight: 300;
}

/***** MEDIA QUERIES *****/
@media (prefers-reduced-motion) {
    .desktop_activities-section {
        opacity: 1;
        filter: none;
        transform: translateX(0);
    }
}
