.mobile_portfolio_main {
    background-image: url("/pictures/background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(
        -45deg,
        rgba(46, 56, 68, 1) 0%,
        rgba(20, 27, 35, 1) 100%
    ); */
    font-family: "Lato";
    font-weight: 300;
    overflow: auto;
    scrollbar-color: var(--color-accent) transparent;
    scrollbar-width: thin;
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

.mobile_background {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    min-height: 100vh;
    width: 100vw;
    pointer-events: none;
    z-index: 0;
}

.mobile-content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
    max-width: 600px;
    overflow: auto;
}
