.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--padding-medium);
    opacity: 0;
    z-index: 4;
    background: linear-gradient(
        0deg,
        rgba(92, 104, 116, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    );
    backdrop-filter: blur(2px);
    font-family: "stratum-1-web";
    color: white;
}

.header_main-name {
    font-size: var(--20px);
    font-weight: 700;
}

.header_main-position {
    font-size: var(--16px);
    font-weight: 300;
}

.header_icons-sound-container {
    display: flex;
    gap: 1rem;
}

.header_contact-menu-container {
    position: absolute;
    right: 2rem;
    top: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    opacity: 0;
    transform-origin: top right;
    scale: 0;
}

.contact-menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
}

.header_link {
    text-decoration: none;
    color: white;
}

.header_buttons,
.header_buttons-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    padding: 0;
    position: relative;
    width: 2.75rem;
    height: 2.75rem;
    transition: all ease-in-out 300ms;
}

.header_buttons:hover,
.header_buttons:focus,
.header_buttons-menu:hover {
    background-color: var(--color-accent);
}

.header_icons {
    width: 2rem;
    height: 2rem;
}

.icon_contact-menu {
    width: 70%;
    height: 70%;
}

.icon-linkedin {
    width: 60%;
    height: 60%;
}

.button-mail,
.button-sound {
    position: relative;
    overflow: hidden;
}

.icon-sound-on,
.icon-sound-off,
.icon-mail,
.mail-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all ease-in-out 300ms;
}

.icon-sound-on,
.icon-mail {
    translate: -50% -50%;
}

.icon-sound-off {
    translate: 70% -50%;
}

.mail-text {
    font-size: var(--20px);
    font-weight: 700;
    translate: 30% -50%;
}

/***** MEDIA QUERIES *****/
