.loading_screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "stratum-1-web";
    padding: 2rem;
    height: 100vh;
    width: 100vw;
    /* background: radial-gradient(
        circle,
        rgba(113, 122, 131, 1) 0%,
        rgba(28, 37, 46, 1) 100%
    ); */
    background: radial-gradient(circle, #1c252e 0%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
}

.loading_screen-content {
    position: relative;
    height: 90%;
    width: 90%;
}

.screen-content-svg-container {
    width: 100%;
    height: 100%;
}

.screen-content-svg-background {
    stroke: rgba(255, 255, 255, 0.2);
    stroke-width: 1;
    fill: none;
    filter: blur(0.2px);
}

.screen-content-svg-progress {
    stroke: white;
    stroke-width: 1;
    fill: none;
    stroke-linecap: round;
    filter: blur(0.5px);
    transition: stroke-dashoffset 300ms ease-out;
}

.loading_screen-progress {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.loading_screen-loading-text {
    font-size: var(--32px);
    font-weight: 700;
    position: absolute;
}

.loading_button-enter {
    font-size: var(--24px);
    font-weight: 700;
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    /* clip-path: polygon(90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%, 0 0); */
    padding: 0.5rem 2rem;
    color: white;
    cursor: pointer;
    opacity: 0;
    position: relative;
    transition: all ease-in-out 300ms;
}

.loading_button-enter::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: white;
    transition: all ease-in-out 0.3s;
    z-index: -1;
}

.loading_button-enter:hover::before {
    width: 100%;
    box-shadow: 0px 0px 15px 0px white;
}

.loading_button-enter:hover {
    color: black;
}

.loading_button-enter:focus::before {
    width: 100%;
    box-shadow: 0px 0px 15px 0px white;
}

.loading_button-enter:focus {
    color: black;
}
