.destkop_portfolio_main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    padding: 3rem;
    background: linear-gradient(
        -45deg,
        rgba(46, 56, 68, 1) 0%,
        rgba(20, 27, 35, 1) 100%
    );
    font-family: "Lato";
    overflow: auto;
    scrollbar-color: var(--color-accent) transparent;
    scrollbar-width: thin;
    position: relative;
}

.desktop_portfolio_main-title,
.desktop_portfolio_main-title2 {
    font-size: 10rem;
    font-family: "stratum-1-web";
    line-height: 0.8;
    height: 9rem;
    width: 0;
    overflow: hidden;
    position: absolute;
}

.desktop_portfolio_main-title {
    bottom: 15rem;
    color: var(--color-accent);
}

.desktop_portfolio_main-title2 {
    bottom: 6rem;
}

.desktop_portfolio_main-subtext {
    font-size: var(--32px);
    position: absolute;
    overflow: hidden;
    bottom: 5rem;
    padding-left: 2rem;
    width: 0;
    height: 3rem;
}

/********/

.portfolio_section-title {
    font-size: var(--32px);
}

.portfolio_section-subtitle {
    font-size: var(--22px);
}

.p-test {
    font-size: var(--20px);
    margin-bottom: 1rem;
}
