.desktop_projects-section {
    margin-top: clamp(var(--margin-xlarge), var(--margin-xlarge), 60px);
    padding: 0 3rem;
    width: 100%;
    opacity: 0;
    filter: blur(5px);
}

.desktop_projects-title {
    font-family: "stratum-1-web";
    font-size: var(--56px);
    margin-bottom: var(--margin-small);
}

.desktop_projects-cards-container {
    padding-left: 0;
}

.desktop_projects-card {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 1rem;
    font-family: "Lato";
    list-style-type: none;
    margin-bottom: 6rem;
    /* width: 100%; */
}

.desktop_projects-card-textcontent,
.desktop_projects-card-image {
    border-radius: 10px;
}

.desktop_projects-card-image {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
    /* height: 100%; */
    object-fit: cover;
}

.desktop_projects-card-textcontent {
    /* border: 1px solid var(--color-accent);
    box-shadow: 0 0 8px 2px rgba(227, 138, 132, 0.25); */
    padding-right: 1rem;
}

.desktop_projects-card-title {
    color: var(--color-accent);
    text-shadow: 0 0 2px var(--color-accent);
    font-family: "stratum-1-web";
    font-size: var(--28px);
    font-weight: 700;
    margin-bottom: var(--margin-small);
}

.desktop_projects-card-info .desktop_projects-card-info-text:nth-child(2) {
    margin-bottom: var(--margin-small);
}

.desktop_projects-card-info-title {
    color: var(--color-accent);
    font-family: "stratum-1-web";
    font-size: var(--20px);
    font-weight: 700;
}

.desktop_projects-card-info-text {
    font-family: "Lato";
    font-size: var(--18px);
    margin-bottom: var(--margin-small);
}

.desktop_projects-card-link {
    color: white;
    text-decoration: none;
}

.desktop_projects-card-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    /* justify-content: space-between; */
    background-color: transparent;
    border: 1px solid var(--color-accent);
    border-radius: 100vw;
    color: white;
    cursor: pointer;
    font-family: "stratum-1-web";
    font-size: var(--20px);
    font-weight: 700;
    outline: none;
    margin-bottom: var(--margin-small);
    padding: 0.5rem 2rem;
    width: 55%;
    transition: background-color ease-in-out 300ms;
}

.desktop_projects-card-icons {
    width: calc(26rem / 16);
    height: calc(26rem / 16);
    transform: rotateZ(45deg);
}

.icon-github {
    width: var(--24px);
    height: var(--24px);
    transform: rotateZ(0);
}

.desktop_projects-card-button:hover,
.desktop_projects-card-button:focus {
    background-color: var(--color-accent);
}
