.phone_portfolio-bio-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.phone_portfolio_section-bio-title {
    font-family: "stratum-1-web";
    font-size: var(--48px);
}

.phone_portfolio_section-bio-text {
    font-size: var(--18px);
    margin-bottom: var(--margin-small);
}

.phone_bio-text-icon {
    width: 48px;
    height: 48px;
    margin: 0 auto var(--margin-small) auto;
}

/***** MEDIA QUERIES *****/
@media (prefers-reduced-motion) {
    .phone_portfolio-bio-section {
        opacity: 1;
        filter: none;
        transform: translateX(0);
    }
}
