.phone_portfolio-projects-section {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.phone_portfolio-projects-title {
    font-family: "stratum-1-web";
    font-size: var(--48px);
}

.phone_portfolio_projects-card-container {
    padding-left: 0;
}

.phone_portfolio_projects-card {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
    font-family: "Lato";
    margin-bottom: var(--margin-small);
    width: 100%;
}

.phone_projects-card-image {
    border-radius: 10px 10px 0 0;
}

.phone_projects-card-title {
    font-family: "stratum-1-web";
    font-size: var(--22px);
    font-weight: 700;
}

.phone_projects-card-info {
    padding: 0 1rem 1rem 1rem;
}

.phone_projects-card-info .phone_projects-card-info-text:nth-child(2) {
    margin-bottom: var(--margin-small);
}

.phone_projects-card-info-title {
    color: var(--color-accent);
    font-family: "stratum-1-web";
    font-size: var(--18px);
    font-weight: 700;
}

.phone_projects-card-text {
    font-family: "Lato";
    font-size: var(--18px);
    padding: 0 1rem 1rem 1rem;
}

.phone_projects-card-button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    width: 48px;
    height: 48px;
    transition: background-color ease-in-out 300ms;
}

.phone_projects-card-button:hover,
.phone_projects-card-button:focus {
    background-color: var(--color-accent);
}
