.phone_portfolio-skills-section {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.phone_portfolio-skills-title {
    font-family: "stratum-1-web";
    font-size: var(--48px);
}

.portfolio_section-skills-subtitle {
    font-size: var(--20px);
    margin-bottom: var(--margin-small);
}

.phone_skills-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-family: "stratum-1-web";
    font-size: var(--18px);
    font-weight: 700;
    list-style: none;
    padding-left: 0;
    margin-bottom: var(--margin-large);
}

.phone_skills-list-item,
.phone_skills-list-item-soft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem;
    transform: translateX(-500%);
}

.phone_skills-list-item {
    padding: 1rem;
    width: 30%;
    /* transform: translateX(-500%); */
}

.phone_skills-list-item-soft {
    text-align: center;
    width: 45%;
}

.phone_skills-svg {
    width: 48px;
    height: 48px;
    fill: var(--color-accent);
}

/***** MEDIA QUERIES *****/
@media (prefers-reduced-motion) {
    .phone_portfolio-activities-section,
    .phone_skills-list-item,
    .phone_skills-list-item-soft {
        opacity: 1;
        filter: none;
        transform: translateX(0);
    }
}
